.light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #5f5f71;
    --primary-color: #0232c2;
    --secondary-color: #0151ff;
    --inverted-primary-color: #82cbd0;
    --inverted-secondary-color: #04ff04;
}